@model DomainObjectModel

@{
    ViewBag.Title = Html.LocalizationString("new_domainobject_view_title");
}

<div class="row">
    <h3>@ViewBag.Title</h3>
    <hr />
</div>

@Html.Partial("_Msg")

<div class="row">
    <div class="col-md-6">

        <form method="post">

            <div class="form-group">
                <label for="Name">@Html.LocalizationString("name")</label>
                <input id="Name" name="Name" type="text" class="form-control" value="@Model.Name" required />
            </div>

            @Html.AntiForgeryToken()

            

            <button id="btnSave" type="submit" class="btn btn-primary" value="false">@Html.LocalizationString("btn_save")</button>
            <button id="btnSaveAndNew" type="submit" class="btn btn-info" value="true">@Html.LocalizationString("btn_save_and_new")</button>
            <input id="ClickedButton" name="IsButtonSaveAndNew" type="hidden" />


        </form>

    </div>

</div>


@section Script
{
    <script>
        $(function () {
            $('#btnSave, #btnSaveAndNew').click(function () {
                $('#ClickedButton').val($(this).val());
            });
        });
    </script>
}
