@model PageModel<AppModel>
@{
    ViewBag.Title = Html.LocalizeString("all_apps_title");
    Model.PagerUrl = "/admin/apps/";
}

<div class="panel panel-info">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        <div class="row">
            @if (Model.Items != null && Model.Items.Any())
            {
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@Html.LocalizeString("app_owner_email")</th>
                                <th>@Html.LocalizeString("app_name")</th>
                                <th>@Html.LocalizeString("description")</th>
                                <th>@Html.LocalizeString("url")</th>
                                <th>@Html.LocalizeString("usage_count")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                var val = item.IsActive ? Html.LocalizeString("btn_deactivate") : Html.LocalizeString("btn_activate");
                                var buttonCss = item.IsActive ? "btn-danger" : "btn-success";
                                <tr>
                                    <td>
                                        <a class="btn btn-sm @buttonCss btnAction" data-toggle="modal" href="#DeactivateModal" data-id="@item.Id" data-isactive="@item.IsActive">@val</a>
                                    </td>
                                    <td>@item.Email</td>
                                    <td><a href="/app/detail/@item.Id">@item.Name</a></td>
                                    <td>@item.Description</td>
                                    <td><a href="@item.Url">@item.Url</a></td>
                                    <td>@item.UsageCountToken</td>
                                </tr>
                            }
                        </tbody>
                        @Html.Partial("_pTablePager")
                    </table>
                    @Html.AntiForgeryToken()
                </div>
            }
            else
            {
                Model.Msg = "list_item_not_found".Localize();
                Model.IsOk = false;
                @Html.Partial("_Msg")
            }
        </div>


        <div class="modal fade" id="DeactivateModal" tabindex="-1" role="dialog" aria-labelledby="lblDeactivateModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">@Html.LocalizeString("modal_title_apps")</h4>
                    </div>
                    <div class="modal-body">
                        @Html.LocalizeString("modal_body_apps")
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-danger" data-dismiss="modal" value="@Html.LocalizeString("btn_cancel")" />
                        <input type="button" class="btn btn-success" value="@Html.LocalizeString("btn_ok")" id="btnModalAction" data-id="" data-isactive="" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section script
{
    <script>
        $(function () {
            var textActivate = "@Html.LocalizeString("btn_activate")";
            var textDeactivate = "@Html.LocalizeString("btn_deactivate")";

            $("input#btnModalAction").click(function () {
                var id = $(this).data(textId);
                var isActive = $(this).data(textIsActive);
                $.ajax({
                    url: "/App/ChangeStatus",
                    type: "POST",
                    data: "id=" + id + "&isActive=" + isActive + "&__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val(),
                }).done(function (r) {
                    if (r && r.IsOk) {

                        if (isActive) {
                            $("a[data-id='" + id + "']").removeClass("btn-danger").addClass("btn-success").data("isactive", false).html(textActivate);
                        }
                        else {
                            $("a[data-id='" + id + "']").removeClass("btn-success").addClass("btn-danger").data("isactive", true).html(textDeactivate);
                        }

                        $("#DeactivateModal").modal('hide');

                    } else {
                        //warning
                    }
                });
            });
        });
    </script>
}
