@model PageModel<ContactMessageModel>

@{
    ViewBag.Title = Html.LocalizationString("contactmessages_listing_title");
    Model.PagerUrl = "/admin/contactmessages/";
}

<div class="panel panel-info">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        <div class="row">
            @if (Model.Items != null && Model.Items.Any())
            {
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>@Html.LocalizationString("email")</th>
                                <th>@Html.LocalizationString("subject")</th>
                                <th>@Html.LocalizationString("message")</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyModelItems">
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>@item.Email</td>
                                    <td>@item.Subject</td>
                                    <td>@item.Message</td>
                                </tr>
                            }
                        </tbody>
                        @Html.Partial("_pTablePager")
                    </table>
                </div>
            }
            else
            {
                Model.Msg = "list_item_not_found".Localize();
                Model.IsOk = false;
                @Html.Partial("_Msg")
            }
        </div>

    </div>
</div>
