@model UserModel

@{
    ViewBag.Title = Html.LocalizeString("new_user_title");
}

<div class="panel panel-info">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        @Html.Partial("_Msg")

        <div class="row">
            <div class="col-md-5">

                <form method="post">
                    <div class="form-group">
                        <label for="Name">@Html.LocalizeString("name")</label>
                        <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" required />
                    </div>

                    <div class="form-group">
                        <label for="Email">@Html.LocalizeString("email")</label>
                        <input type="email" id="Email" name="Email" class="form-control" value="@Model.Email" required />
                    </div>

                    <div class="form-group">
                        <label for="Password">@Html.LocalizeString("password")</label>
                        <input type="password" id="Password" name="Password" class="form-control" value="@Model.Password" required />
                    </div>

                    @Html.AntiForgeryToken()

                    <button type="submit" class="btn btn-success">@Html.LocalizeString("btn_sign_up")</button>

                </form>

            </div>
        </div>
    </div>
</div>
