@model PasswordChangeModel

@{
    ViewBag.Title = Html.LocalizationString("password_change_title"); ;
}

<div class="panel panel-info">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        @Html.Partial("_Msg")

        <div class="row">
            <div class="col-md-5">

                <form method="post">

                    <div class="form-group">
                        <label for="Password">@Html.LocalizationString("new_password")</label>
                        <input type="password" id="Password" name="Password" class="form-control" required />
                    </div>

                    <input type="hidden" name="Token" value="@Model.Token" required />

                    @Html.AntiForgeryToken()

                    <button type="submit" class="btn btn-primary">@Html.LocalizationString("btn_save")</button>

                </form>

            </div>
        </div>

    </div>
</div>
