@model PasswordChangeModel

@{
    ViewBag.Title = Html.LocalizationString("password_change_title"); ;
}

<div class="row">
    <h3>@ViewBag.Title</h3>
    <hr />
</div>

@Html.Partial("_Msg")

<div class="row">
    <div class="col-md-5">

        <form method="post">

            <div class="form-group">
                <label for="Password">@Html.LocalizationString("new_password")</label>
                <input type="password" id="Password" name="Password" class="form-control" required />
            </div>

            <input type="hidden" name="Token" value="@Model.Token" />

            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-primary">@Html.LocalizationString("btn_save")</button>

        </form>

    </div>
</div>
