@model PageModel<WordModel>

@{
    ViewBag.Title = Html.Localize("words_my_key_listing_title");
    Model.PagerUrl = "/user/words/" + ViewBag.ID + "?page=";
}

<div class="panel panel-info">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        <div class="row">
            @if (Model.Items != null && Model.Items.Any())
            {
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>@Html.Localize("word_key")</th>
                                <th>@Html.Localize("description")</th>
                                <th>@Html.Localize("tag")</th>
                                <th>@Html.Localize("translated_language")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td><a href="/word/detail/@item.Id">@item.Key</a></td>
                                    <td>@item.Description</td>
                                    <td>
                                        @foreach (var tag in item.Tags)
                                        {
                                            <a class="label label-warning" href="/tag/detail/@tag.UrlName">@tag.Name</a>
                                        }
                                    </td>
                                    <td>
                                        @foreach (var lang in item.Languages)
                                        { <img src="@lang.ImageUrl" alt="@lang.Name" />  }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @Html.Partial("_pTablePager")
                    </table>
                </div>
            }
            else
            {
                Model.Msg = "list_item_not_found".Localize();
                Model.IsOk = false;
                @Html.Partial("_Msg")
            }
        </div>

    </div>
</div>