@using SetLocale.Client.Web.Helpers
@model List<SetLocale.Client.Web.Models.WordModel>

@{
    ViewBag.Title = Html.LocalizationString("KeyListing");
}

<h3>@ViewBag.Title</h3>
<hr />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Html.LocalizationString("Key")</th>
                <th>@Html.LocalizationString("description")</th>
                <th>@Html.LocalizationString("Tag")</th>
                <th>@Html.LocalizationString("TranslatedLang")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="/key/detail/@item.Key">@item.Key</a></td>
                    <td>@item.Description</td>
                    <td>
                        @foreach (var tag in item.Tags)
                        {
                            <a class="label label-info" href="/tag/index/@tag.UrlName">@tag.Name</a>
                        }
                    </td>
                    <td>
                        @foreach (var lang in item.Languages)
                        { <img src="@lang.ImageUrl" alt="@lang.Name" />  }
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
