@using SetLocale.Client.Web.Helpers
@model SetLocale.Client.Web.Models.LoginModel

@{
    ViewBag.Title = Html.LocalizationString("login_view_title");
}


<div class="row col-lg-5">
    <h3>@ViewBag.Title</h3>
    <hr />

    <form action="/user/login?ReturnUrl=@Request.QueryString["ReturnUrl"]" method="post">

        <div class="row">
            <strong>@Html.LocalizationString("email")</strong>
            <input type="text" class="form-control input-lg" name="email" id="email" value="@Model.Email" />
        </div>

        <div class="row">
            <strong>@Html.LocalizationString("password")</strong>
            <input type="password" class="form-control input-lg" name="password" id="password" value="@Model.Password" />
        </div>

        @Html.AntiForgeryToken()

        <div class="row">
            <div style="margin:10px;float:left;">
                <input type="submit" value="@Html.LocalizationString("btn_login")" class="btn btn-primary btn-lg" />
            </div>
            <div style="margin: 10px; margin-top: 28px; font-size: 20px; float: left;">
                <a href="/user/reset">@Html.LocalizationString("forgot_your_password")</a>
            </div>
        </div>


        <div class="error">
            @Model.Msg
        </div>
    </form>
</div>


@section script
{
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            $("form#frm").validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 5
                    },
                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    password: {
                        required: "*",
                        minlength: "*"
                    },
                    email: "*"
                }
            });
        });
    </script>
}