@model SetLocale.Client.Web.Models.ResetModel

@{
    ViewBag.Title = Html.LocalizationString("user_password_reset_title");;
}


<div class="row col-lg-5">
    <h3>@ViewBag.Title</h3>
    <hr />

    <form action="/user/reset" method="post">

        <div class="row">
            <strong>@Html.LocalizationString("user_password_reset_email")</strong>
            <input type="text" class="form-control input-lg" name="email" id="email" value="@Model.Email" />
        </div>
           @Html.AntiForgeryToken()
         <div class="row">
            <input type="submit" value="@Html.LocalizationString("btn_user_password_reset")" class="btn btn-primary btn-lg" />
        </div>

        <div class="error">
            @Model.Msg
        </div>
    </form>
</div>


@section script
{
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            $("form").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    }
                }
            });
        });
    </script>
}