@using SetLocale.Client.Web.Helpers

@model SetLocale.Client.Web.Models.KeyModel

@{
    ViewBag.Title = Model.Key;
}

<h3>@ViewBag.Title</h3>
<hr />

<div class="row">
    @foreach (var tag in Model.Tags)
    {
        <a class="label label-info" href="/tag/index/@tag.UrlName">@tag.Name</a>

       }
<input type="button" class="btn btn-sm btn-primary btnNewTranslate pull-right" value="@Html.LocalizationString("btn_words_new_word")" data-id="@Model.Key" />
    @Html.AntiForgeryToken()
</div>


<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>@Html.LocalizationString("language")</th>
                    <th>@Html.LocalizationString("translation")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Translations)
                {
                    <tr>
                        <td>
                            <a type="button" class="btn btn-sm btn-warning" href="/key/edit/@Model.Key">@Html.LocalizationString("edit")</a>
                        </td>
                        <td> <img src="@item.Language.ImageUrl" alt="@item.Language.Name" /> @item.Language.Name</td>
                        <td>@item.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section script
{
    <script>
        $(function () {
                     
            $("input.btnNewTranslate").click(function () {
                var keyId = $(this).data("id");
                
               

                        var row = $("<tr />");
                        var url = "#";
                        var aSaveButton = $("<a />");
                        
                        aSaveButton.addClass("btn btn-sm btn-warning btnAction");
                        aSaveButton.attr("data-toggle", "modal");
                        aSaveButton.attr("data-id", keyId);
                        aSaveButton.attr("href", url);
                        aSaveButton.html('@Html.LocalizationString("btn_menu_settings_new_translator_save")');
                        

                        var tdSaveButton = $("<td />");
                        tdSaveButton.append(aSaveButton);
                        row.append(tdSaveButton);

                        var tdLanguage = $("<td />");
                        var ddLanguage = $("<select />");
                        var ddOption = $("<option />");
                         ddOption.attr("value","tr-TR");
                        ddOption.html("Turkish");
                        ddLanguage.append(ddOption);
                        tdLanguage.append(ddLanguage);
                        row.append(tdLanguage);
                        
                        var tdTranslation = $("<td />");
                        var tbTranslation = $("<input />");
                        tbTranslation.attr("type", "Text");
                        tbTranslation.attr("name", "xxx");
                        tdTranslation.append(tbTranslation);
                        row.append(tdTranslation);

                        $('table tbody').append(row);
         
              
            });

        });
    </script>
}