@model List<SetLocale.Client.Web.Models.KeyModel>

@{
    ViewBag.Title = ViewBag.Txt["menu_words_my_words_key_listing"];
}

<h3>@ViewBag.Title</h3>
<hr />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>@ViewBag.Txt["menu_words_my_words_key"]</th>
                <th>@ViewBag.Txt["menu_words_my_words_description"]</th>
                <th>@ViewBag.Txt["menu_words_my_words_tag"]</th>
                <th>@ViewBag.Txt["menu_words_my_words_translated_lang"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a type="button" class="btn btn-sm btn-warning" href="/key/edit/@item.Key">@ViewBag.Txt["btn_menu_words_my_words_edit"]</a>
                    </td>
                    <td><a href="/key/detail/@item.Key">@item.Key</a></td>
                    <td>@item.Description</td>
                    <td>
                        @foreach (var tag in item.Tags)
                        {
                            <a href="/tag/index/@tag.UrlName">@tag.Name</a>
                        }
                    </td>
                    <td>
                        @foreach (var langs in item.Languages)
                        { <img src="@langs.FlagImageUrl" alt="Türkçe" />  }
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>
