@model List<SetLocale.Client.Web.Models.KeyModel>

@{
    ViewBag.Title = Html.LocalizationString("menu_words_my_words_key_listing");
}

<h3>@ViewBag.Title</h3>
<hr />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>@Html.LocalizationString("menu_words_my_words_key")</th>
                <th>@Html.LocalizationString("menu_words_my_words_description")</th>
                <th>@Html.LocalizationString("menu_words_my_words_tag")</th>
                <th>@Html.LocalizationString("menu_words_my_words_translated_lang")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a type="button" class="btn btn-sm btn-warning" href="/key/edit/@item.Key">@Html.LocalizationString("btn_menu_words_my_words_edit")</a>
                    </td>
                    <td><a href="/key/detail/@item.Key">@item.Key</a></td>
                    <td>@item.Description</td>
                    <td>
                        @foreach (var tag in item.Tags)
                        {
                            <a class="label label-info" href="/tag/index/@tag.UrlName">@tag.Name</a>
                        }
                    </td>
                    <td>
                        @foreach (var lang in item.Languages)
                        { <img src="@lang.ImageUrl" alt="@lang.Name" />  }
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
