@model PageModel<WordModel>

@{
    ViewBag.Title = Html.LocalizationString("words_key_listing_title");
}

<div class="row">
    <iframe id="downloadFrame" style="display:none"></iframe>
    <img id="waitSpinner" class="pull-right" src="/Public/img/select2-spinner.gif"/>
    <input type="button" id="btnExport" value="@Html.LocalizationString("btn_export_to_excel")" class="btn btn-success btn-sm pull-right" />
    @Html.AntiForgeryToken()
</div>

<h3>@ViewBag.Title</h3>
<hr />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Html.LocalizationString("word_key")</th>
                <th>@Html.LocalizationString("description")</th>
                <th>@Html.LocalizationString("tag")</th>
                <th>@Html.LocalizationString("translated_language")</th>
            </tr>
        </thead>    
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td><a href="/word/detail/@item.Key">@item.Key</a></td>
                    <td>@item.Description</td>
                    <td>
                        @foreach (var tag in item.Tags)
                        {
                            <a class="label label-info" href="/tag/detail/@tag.UrlName">@tag.Name</a>
                        }
                    </td>
                    <td>
                        @foreach (var lang in item.Languages)
                        { <img src="@lang.ImageUrl" alt="@lang.Name" />  }
                    </td>
                </tr>
            }
            @{
                if (Model.HasNextPage || Model.HasPreviousPage)
                {
                    <tr>
                        <td colspan="4" align="center">
                            <ul class="pagination">
                                @if (Model.HasPreviousPage)
                                {
                                    <li><a href="~/word/all/@(Model.Number-1)">&laquo;</a></li>
                                }
                                <li><a href="~/word/all/@(Model.Number)">@(Model.Number)</a></li>
                                @if (Model.HasNextPage)
                                {
                                    <li><a href="~/word/all/@(Model.Number+1)">&raquo;</a></li>
                                }
                            </ul>
                            <br/> 
                            <span class="label label-primary">@Html.LocalizationString("total_page_count") : @Model.TotalPageCount</span>
                        </td>
                    </tr> 
                }
            } 
        </tbody>
    </table>
</div>

@section script
{
    <script>

        $(document).ready(function () {
            $('#waitSpinner').hide();
            
            $("#btnExport").click(function () {
                var token = $(this).data("id");
                
                $('#btnExport').hide();
                $('#waitSpinner').show();
                
                $.ajax({
                    url: "/Word/Export",
                    type: "POST",
                    data: "token=" + token + "&__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val(),
                    success: function (r) {
                        if (r && r.Ok) {
                            $('#waitSpinner').hide();
                            $('#btnExport').show();
                            var iframe = document.getElementById("downloadFrame");
                            iframe.src = "../public/files/" + r.Result;
                        } else {
                            //todo:warning
                        }
                    }
                });
            });
        });
    </script>
}