@using SetLocale.Client.Web.Helpers

@model SetLocale.Client.Web.Models.WordModel

@{
    ViewBag.Title = Model.Key;
}

<h3>@ViewBag.Title</h3>
<hr />

<div class="row">
    <p>
        @Model.Description
    </p>
    <p>
        <div id="dvTag">
            @foreach (var tag in Model.Tags)
            {

                <a class="label label-info" href="/tag/detail/@tag.UrlName">@tag.Name</a>
            }
        </div>
    </p>
    <p>
        <div>
            <div id="dvForm" class="pull-left"></div>

            <input type="button" class="btn btn-sm btn-primary btnNewTranslate pull-right" style="margin-left: 5px;" value="@Html.LocalizationString("btn_new_translate")" data-id="@Model.Key" />

            <input type="button" class="btn btn-sm btn-info btnNewTag pull-right" value="@Html.LocalizationString("btn_new_tag")" data-id="@Model.Key" />

            @Html.AntiForgeryToken()
        </div>
    </p>
</div>

<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>@Html.LocalizationString("language")</th>
                    <th>@Html.LocalizationString("translation")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Translations)
                {
                    <tr>
                        <td>
                            <input type="button" class="btn btn-sm btn-warning btnEdit" value="@Html.LocalizationString("btn_edit")" data-lang="@item.Language.Key" />
                        </td>
                        <td> <img src="@item.Language.ImageUrl" alt="@item.Language.Name" /> @item.Language.Name</td>
                        <td>@item.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section script
{
    <link href="/public/css/select2.css" rel="stylesheet" />
    <script src="/public/js/select2.js"></script>

    <script>
        $(function() {
            var translatedLanguages = [@Html.Raw(Model.LanguagesStr)];

            function addNewTranslationRow() {
                var btnSave = $('<input type="button" />').addClass('btn btn-sm btn-primary');
                btnSave.val('@Html.LocalizationString("btn_save")');
                btnSave.data('id', '@Model.Key');

                btnSave.click(function() {
                    var lang = $("select#selLanguages").val();
                    var translation = $("input#txtTranslation").val();

                    $.ajax({
                        url: "/Word/Translate",
                        type: "POST",
                        data: "key=@Model.Key&language=" + lang + "&translation=" + translation + "&__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val()
                    }).done(function(r) {
                        if (r && r.Ok) {

                            var tr = $('<tr />');

                            var tdBtn = $('<td />');
                            var tdFlag = $('<td />');
                            var tdTranslation = $('<td />');

                            var btnEdit = $('<input type="button" class="btn btn-sm btn-warning btnEdit" data-lang="' + lang + '" value="@Html.LocalizationString("btn_edit")" />');
                            btnEdit.click(fnEdit);
                            tdBtn.append(btnEdit);
                            tdFlag.append($("<img class='flag' style='margin:5px;margin-left: 0;margin-top: 0;' alt='flag' src='/public/img/flag/" + lang + ".png'/>"));

                            $.each(allLanguages, function(i, l) {
                                if (l.id == lang) {
                                    tdFlag.append($('<span>' + l.text + '</span>'));
                                    translatedLanguages.push(l);
                                }
                            });
                            tdTranslation.html(translation);

                            tr.append(tdBtn);
                            tr.append(tdFlag);
                            tr.append(tdTranslation);

                            $('table tbody').append(tr);


                            $("input.btnNewTranslate").show();
                            $("div#dvForm").html('');
                        } else {
                            //todo:warning
                        }
                    });
                });

                var inputLanguages = $('<select id="selLanguages" name="selLanguages" />');
                $.each(allLanguages, function(i, lang) {

                    var isExisting = false;
                    $.each(translatedLanguages, function(j, l) {
                        if (lang.id === l.id) {
                            isExisting = true;
                            return;
                        }
                    });

                    if (!isExisting) {
                        inputLanguages.append('<option value="' + lang.id + '">' + lang.text + '</opiton>');
                    }
                });
                
                var inputTranslation = $('<input type="text" id="txtTranslation" name="txtTranslation" class="form-control col-4" />');

                var dv1 = $('<div style="margin:5px;float:left;" />');
                var dv2 = $('<div style="margin:5px;float:left;" />');
                var dv3 = $('<div style="margin:5px;float:left;" />');

                dv1.append(inputLanguages);
                dv2.append(inputTranslation);
                dv3.append(btnSave);

                $("div#dvForm").append(dv1).append(dv2).append('<br style="display:block;clear:both;"/>').append(dv3);
            }

            function prepareEditRow(btn) {
                var lang = btn.data("lang");
                var td = btn.parent().parent().children(":last");

                var inputTranslation = $('<input type="text" id="txtEdit" name="txtEdit" class="form-control col-4" data-lang="' + lang + '" />');
                inputTranslation.val(td.html());

                td.html("");
                td.append(inputTranslation);
            }

            function prepareDataShowingRow(btn) {
                var lang = btn.data("lang");
                var translations = $("input#txtEdit");

                var translation = "";
                $.each(translations, function(i, txt) {
                    if ($(txt).data("lang") == lang) {
                        translation = $(txt).val();
                        return;
                    }
                });

                var td = btn.parent().parent().children(":last");

                $.ajax({
                    url: "/Word/Translate",
                    type: "POST",
                    data: "key=@Model.Key&language=" + lang + "&translation=" + translation + "&__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val()
                }).done(function(r) {
                    if (r && r.Ok) {
                        td.html(translation);
                    } else {
                        //todo:warning
                    }
                });
            }

            $("input.btnNewTranslate").click(function() {
                $(this).hide();

                addNewTranslationRow();

                function format(state) {
                    if (!state.id) return state.text;
                    return "<img class='flag' alt='flag' style='margin:5px;' src='/public/img/flag/" + state.id.toLowerCase() + ".png'/>" + state.text;
                }

                $("select#selLanguages").select2({ formatResult: format, formatSelection: format, escapeMarkup: function(m) { return m; } });
            });

            var fnEdit = function() {
                if ($(this).hasClass("btn-warning")) {
                    $(this).removeClass("btn-warning").addClass("btn-primary");
                    $(this).val("@Html.LocalizationString("btn_save")");

                    prepareEditRow($(this));
                } else if ($(this).hasClass("btn-primary")) {
                    $(this).removeClass("btn-primary").addClass("btn-warning");
                    $(this).val("@Html.LocalizationString("btn_edit")");

                    prepareDataShowingRow($(this));
                }
            };

            $("input.btnEdit").click(fnEdit);
        });
        $("input.btnNewTag").click(function () {
            $(this).hide();

            addNewTagRow();

        });
        function addNewTagRow() {

            var btnSave = $('<input type="button" />').addClass('btn btn-sm btn-primary');
            btnSave.val('@Html.LocalizationString("btn_save")');
            btnSave.data('id', '@Model.Key');

            var inputTag = $('<input type="text" id="txtTag" name="txtTag" class="form-control col-4" />');

            var dv1 = $('<div style="margin:5px;float:left;" />');

            var dv3 = $('<div style="margin:5px;float:left;" />');

            dv1.append(inputTag);
            dv3.append(btnSave);
         

            $("div#dvForm").append(dv1).append('<br style="display:block;clear:both;"/>').append(dv3);
            btnSave.click(function () {
                var tag = $("input#txtTag").val();
                var tags = $('<a class="label label-info" style="margin-left:5px;" href="/tag/detail/' + tag + '">' + tag + '</a>');
                $("div#dvTag").append(tags);
                
                $("div#dvForm").html('');
                $("input.btnNewTag").show();
            });
        }
    </script>
}

