@model ContactMessageModel

@{
    ViewBag.Title = Html.Localize("contact_view_title");
}

<div class="panel panel-info">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-6">

                @Html.Partial("_Msg")

                @if (!Model.IsOk)
                {
                    <form method="POST">

                        <div class="form-group">
                            <label for="Email">@Html.Localize("email")</label>
                            <input id="Email" name="Email" type="email" class="form-control" value="@Model.Email" required />
                        </div>

                        <div class="form-group">
                            <label for="Subject">@Html.Localize("subject")</label>
                            <input id="Subject" name="Subject" type="text" class="form-control" value="@Model.Subject" />
                        </div>

                        <div class="form-group">
                            <label for="Message">@Html.Localize("message")</label>
                            <textarea id="Message" name="Message" rows="6" class="form-control" required>@Model.Message</textarea>
                        </div>

                        @Html.AntiForgeryToken()

                        <button type="submit" class="btn btn-success">@Html.Localize("btn_send")</button>
                    </form>
                }
            </div>

            <div class="col-md-6">

                <h4>ARGESET YAZILIM</h4>

                <div class="panel panel-default">
                    <div class="panel-heading">@Html.Localize("head_office")</div>
                    <div class="panel-body">
                        <address>
                            Libadiye Caddesi No:48/3 Küçük Çamlıca
                            Üsküdar – İSTANBUL / TÜRKİYE
                        </address>
                        Tel: +90 216 428 53 33
                        <br />
                        Faks: +90 216 428 73 33
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">@Html.Localize("branch")</div>
                    <div class="panel-body">
                        <address>
                            Zuhal Sok. No:10/12 Kadıköy - Istanbul
                        </address>
                        Tel : +90 216 336 33 31
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
