@model AppModel

@{
    ViewBag.Title = string.Format("{0} - {1}", Html.LocalizationString("user_apps_title"), Model.Name);
}

<h3>@ViewBag.Title</h3>
<hr />
<div class="row">
    <p>
        @Model.Description
    </p>
</div>
<div class="row">
    @if (Model.IsActive)
    {
        <input type="button" id="btnNewToken" class="btn btn-sm btn-primary pull-right" value="@Html.LocalizationString("btn_create_new_token")" data-id="@Model.Id" />
        @Html.AntiForgeryToken()
    }
</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @if (ViewBag.IsActive)
                {
                    <th></th>
                }
                <th>@Html.LocalizationString("token")</th>
                <th>@Html.LocalizationString("creation_date")</th>
                <th>@Html.LocalizationString("usage_count")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tokens)
            {
                <tr>
                    @if (ViewBag.IsActive)
                    {
                        <td>
                            <a class="btn btn-sm btn-warning btnAct" data-toggle="modal" href="#DeleteModal" data-id="@item.Token">@Html.LocalizationString("btn_delete")</a>
                        </td>
                    }
                    <td>@item.Token</td>
                    <td>@item.CreationDate.ToString("f")</td>
                    <td>@item.UsageCount</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="lblDeleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Html.LocalizationString("modal_title_delete_token")</h4>
            </div>
            <div class="modal-body">
                @Html.LocalizationString("modal_body_delete_token")
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="@Html.LocalizationString("btn_cancel")" />
                <input type="button" class="btn btn-danger" value="@Html.LocalizationString("btn_ok")" id="btnDelete" data-id="" />
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(function () {
            var fnBtnActionClick = function () {
                var textBtn = "input#btnDelete";

                var id = $(this).data(textId);
                var isActive = $(this).data(textIsActive);

                $(textBtn).data(textId, id).data(textIsActive, isActive);
            };

            $("a.btnAct").click(fnBtnActionClick);

            $("input#btnDelete").click(function () {
                var token = $(this).data("id");

                $.ajax({
                    url: "/App/DeleteToken",
                    type: "POST",
                    data: "token=" + token + "&__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val(),
                }).done(function (r) {
                    if (r && r.Ok) {
                        $("a[data-id='" + token + "']").parent().parent().remove();
                        $("#DeleteModal").modal('hide');

                    } else {
                        //warning
                    }
                });
            });

            $("input#btnNewToken").click(function () {
                var appId = $(this).data("id");
                $("input#btnDelete").data("id", appId);

                $.ajax({
                    url: "/app/newtoken",
                    type: "POST",
                    data: "appId=" + appId + "&__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val(),
                }).done(function (r) {
                    if (r) {
                        var row = $("<tr />");
                        var url = "#DeleteModal";
                        var aDeleteButton = $("<a />");

                        aDeleteButton.addClass("btn btn-sm btn-warning btnAct");
                        aDeleteButton.attr("data-toggle", "modal");
                        aDeleteButton.attr("data-id", r.Result.Token);
                        aDeleteButton.attr("href", url);
                        aDeleteButton.html('@Html.LocalizationString("btn_delete")');
                        aDeleteButton.click(fnBtnActionClick);

                        var tdDeleteButton = $("<td />");
                        tdDeleteButton.append(aDeleteButton);
                        row.append(tdDeleteButton);

                        var tdToken = $("<td />");
                        tdToken.html(r.Result.Token);
                        row.append(tdToken);
                        var tdCreationDateStr = $("<td />");
                        tdCreationDateStr.html(r.Result.CreationDateStr);
                        row.append(tdCreationDateStr);

                        var tdUsageCount = $("<td />");
                        tdUsageCount.html(r.Result.UsageCount);
                        row.append(tdUsageCount);

                        $('table tbody').append(row);


                    } else {
                        //warning
                    }
                });
            });



        });
    </script>
}