@using SetLocale.Client.Web.Helpers
@model SetLocale.Client.Web.Models.NewAppModel

@{
    ViewBag.Title = Html.LocalizationString("menu_apps_new_app");
}


<div class="row col-lg-5">
    <h3>@ViewBag.Title</h3>
    <hr />

    <form action="/app/new" method="post">


        <div class="row">
            <strong>@Html.LocalizationString("menu_apps_new_app_app_name")</strong>
            <input type="text" class="form-control input-lg" name="appName" id="appName" value="@Model.AppName" />
        </div>

        <div class="row">
            <strong>@Html.LocalizationString("menu_apps_new_app_url")</strong>
            <input type="text" class="form-control input-lg" name="url" id="url" value="@Model.Url" />
        </div>

        <div class="row">
            <strong>@Html.LocalizationString("menu_apps_new_app_description")</strong>
            <input type="text" class="form-control input-lg" name="description" id="description" value="@Model.Description" />
        </div>

        @Html.AntiForgeryToken()

        <div class="row">
            <input type="submit" value="@Html.LocalizationString("btn_menu_apps_new_app_save")" class="btn btn-primary btn-lg" />
        </div>

        <div class="error">
            @Model.Msg
        </div>
    </form>
</div>


@section script
{
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            $("form").validate({
                rules: {
                    key: {
                        required: true,
                    },
                    tag: {
                        required: true,
                    },
                    description: {
                        required: true,
                      }
                },
                messages: {
                    key: {
                        required: "*"
                    },
                    tag: "*",
                    description: "*"
                }
            });
        });
    </script>
}