@model PageModel<WordModel>

@{
    ViewBag.Title = Html.LocalizeString("words_key_listing_title");
    Model.PagerUrl = "/word/all/";
}

<div class="panel panel-info">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        <div class="row">
            @if (User.Identity.IsAuthenticated && Model.Items.Any())
            {
                <div class="col-md-12">
                    <iframe id="downloadFrame" style="display:none"></iframe>
                    <img id="waitSpinner" class="pull-right" src="/public/img/select2-spinner.gif" alt="loading" style="display: none" />
                    <input type="button" id="btnExport" value="@Html.LocalizeString("btn_export_to_excel")" class="btn btn-success btn-sm pull-right" />
                    @Html.AntiForgeryToken()
                </div>
            }
        </div>

        <div class="row">
            @if (Model.Items != null && Model.Items.Any())
            {
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>@Html.LocalizeString("word_key")</th>
                                <th>@Html.LocalizeString("description")</th>
                                <th>@Html.LocalizeString("tag")</th>
                                <th>@Html.LocalizeString("translated_language")</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyModelItems">
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td><a href="/word/detail/@item.Id">@item.Key</a></td>
                                    <td>@item.Description</td>
                                    <td>
                                        @foreach (var tag in item.Tags)
                                        {
                                            <a class="label label-warning" href="/tag/detail/@tag.UrlName">@tag.Name</a>
                                        }
                                    </td>
                                    <td>
                                        @foreach (var lang in item.Languages)
                                        { <img src="@lang.ImageUrl" alt="@lang.Name" />  }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @Html.Partial("_pTablePager")
                    </table>
                </div>
            }
            else
            {
                Model.Msg = "list_item_not_found".Localize();
                Model.IsOk = false;
                @Html.Partial("_Msg")
            }
        </div>

    </div>
</div>

@section script
{
    <script>
        $(document).ready(function () {
            $("#btnExport").click(function () {
                var token = $(this).data("id");

                $('#btnExport').hide();
                $('#waitSpinner').show();

                $.ajax({
                    url: "/Word/Export",
                    type: "POST",
                    data: "token=" + token + "&__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val(),
                    success: function (r) {
                        if (r && r.IsOk) {
                            $('#waitSpinner').hide();
                            $('#btnExport').show();
                            var iframe = document.getElementById("downloadFrame");
                            iframe.src = "../public/files/" + r.Result;
                        } else {
                            //todo:warning
                        }
                    }
                });
            });
        });
    </script>
}
