@model WordModel

@{
    ViewBag.Title = Html.LocalizeString("words_key_detail_page_title");
    var apps = (IEnumerable<AppModel>)ViewBag.Apps;
}

<div class="panel panel-info">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        @Html.Partial("_Msg")

        <div class="row">
            <p>
                @Model.Description
            </p>
            <p>
                <div id="dvTag">
                    @foreach (var tag in Model.Tags)
                    {
                        <a class="label label-warning" href="/tag/detail/@tag.UrlName">@tag.Name</a>
                    }
                </div>
            </p>


            @if (User.Identity.IsAuthenticated)
            {
                <p>
                    <div>
                        <div class="pull-left">
                            <div>
                                <h3 id="hdForm"></h3>
                            </div>
                            <div id="dvForm"></div>
                        </div>

                        <div>
                            @if (Model.Translations.Count < ConstHelper.MaxLanguageCount)
                            {
                                <input type="button" id="btnNewTranslate" class="btn btn-sm btn-primary btnNewTranslate pull-right" style="margin-left: 5px;" value="@Html.LocalizeString("btn_new_translate")" data-id="@Model.Key" />
                            }
                            <input type="button" class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#CopyToMyAppModal" value="@Html.LocalizeString("btn_copy_words_to_my_app")" />
                        </div>

                        @Html.AntiForgeryToken()
                    </div>
                </p>
            }
        </div>

        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <th></th>
                            }
                            <th>@Html.LocalizeString("language")</th>
                            <th>@Html.LocalizeString("translation")</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyLanguage">
                        @foreach (var item in Model.Translations)
                        {
                            <tr>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <td>
                                        <input type="button" class="btn btn-sm btn-warning btnEdit" value="@Html.LocalizeString("btn_edit")" data-lang="@item.Language.Key" />
                                    </td>
                                }
                                <td> <img src="@item.Language.ImageUrl" alt="@item.Language.Name" /> @item.Language.Name</td>
                                <td>@item.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.Translations == null || !Model.Translations.Any())
            {
                Model.Msg = "list_item_not_found".Localize();
                Model.IsOk = false;
                @Html.Partial("_Msg")
            }
        </div>

    </div>
</div>

<div class="modal fade" id="CopyToMyAppModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@Html.LocalizeString("modal_title_copy_to_my_apps")</h4>
            </div>
            <div class="modal-body">
                @Html.LocalizeString("modal_body_copy_to_my_apps")

                <div class="row">
                    <div class="list-group">
                        @foreach (var item in apps)
                        {
                            <a class="list-group-item" style="cursor: pointer;">
                                <span class="list-group-item-heading">
                                    <input type="checkbox" value="@item.Id" /> @item.Name
                                </span>
                            </a>
                        }
                    </div>
                </div>
                <div id="copyReturnMessage"></div>
            </div>
            <div class="modal-footer">
                @Html.AntiForgeryToken()
                <label class="pull-left"><input type="checkbox" id="force" /> @Html.LocalizeString("override_my_translations")</label>
                <img src="/public/img/select2-spinner.gif" alt="loading" style="margin-right: 10px; display: none" />
                <input type="button" class="btn btn-danger" data-dismiss="modal" value="@Html.LocalizeString("btn_cancel")" />
                <input type="button" class="btn btn-success" value="@Html.LocalizeString("btn_ok")" id="btnCopyToMyApp" />
            </div>
        </div>
    </div>
</div>

@section script{
    <script>
            var apps = new Array();
            $(function () {
                $('.list-group-item-heading input').prop('checked', false);
                var mFooter = $('#CopyToMyAppModal .modal-content .modal-footer');
                var copyReturnMessage = $('#copyReturnMessage');
                mFooter.find('input.btn-danger').prop('disabled', false);
                mFooter.find('input.btn-success').prop('disabled', true);
                var listGroup = $('#CopyToMyAppModal .list-group-item');

                listGroup.click(function () {
                    var $this = $(this);
                    $this.toggleClass('successBG');

                    var cb = $this.find('.list-group-item-heading input');
                    if (cb.is(':checked')) {
                        cb.prop('checked', false);
                        apps.splice($.inArray(cb.val(), apps), 1);
                    } else {
                        cb.prop('checked', true);
                        apps.push(cb.val());
                    }

                    if (apps.length > 0) mFooter.find('input.btn-success').prop('disabled', false);
                    else mFooter.find('input.btn-success').prop('disabled', true);
                });

                $('#btnCopyToMyApp').click(function () {
                    mFooter.find('img').show();
                    mFooter.find('input.btn').prop('disabled', true);
                    var force = mFooter.find('#force');
                    $.post('/Word/Copy/', { copyFromWordId: '@ViewBag.ID', appIds: JSON.stringify(apps), force: force.is(':checked'), __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() }, function (result) {
                        mFooter.find('img').hide();
                        if (result) {
                            apps = new Array();
                            $('#CopyToMyAppModal .list-group-item').removeClass('successBG');
                            copyReturnMessage.html('<div class="alert alert-success"><span>@Html.LocalizeString("tag_copy_success")</span></div>');
                            setTimeout(function () {
                                listGroup.find('.list-group-item-heading input').prop('checked', false);
                                force.prop('checked', false);
                                mFooter.find('input.btn-danger').prop('disabled', false);
                                $("#CopyToMyAppModal").modal('hide');
                                copyReturnMessage.html(null);
                            }, 2500);
                        } else {
                            copyReturnMessage.html('<div class="alert alert-danger"><span>@Html.LocalizeString("tag_copy_success")</span></div>');
                        }
                    });
                });
            });
    </script>

    <link href="/public/css/select2.css" rel="stylesheet" />
    <script src="/public/js/select2.js"></script>


    <script>
        $(function () {
            var translatedLanguages = [@Html.Raw(Model.LanguagesStr)];


            function addNewTranslationRow() {
                var btnCancel = $('<input type="button" />').addClass('btn btn-sm btn-danger');
                btnCancel.val('@Html.Raw(Html.LocalizeString("btn_cancel"))');


                btnCancel.click(function () {


                    $("h3#hdForm").html('');
                    $("div#dvForm").html('');
                    $("input.btnNewTranslate").show();


                });


                var btnSave = $('<input type="button" id="btnSave" />').addClass('btn btn-sm btn-success');
                btnSave.val('@Html.Raw(Html.LocalizeString("btn_save"))');
                btnSave.data('id', '@Model.Key');


                btnSave.click(function () {
                    var lang = $("select#selLanguages").val();
                    var translation = $("input#txtTranslation").val();

                    if (!translation.length > 0)
                        return;

                    $.ajax({
                        url: "/Word/Translate",
                        type: "POST",
                        data: "id=@Model.Id&language=" + lang + "&translation=" + translation + "&__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val(),
                        success: function (r) {
                            if (r && r.IsOk) {


                                var tr = $('<tr />');


                                var tdBtn = $('<td />');
                                var tdFlag = $('<td />');
                                var tdTranslation = $('<td />');


                                var btnEdit = $('<input type="button" class="btn btn-sm btn-warning btnEdit" data-lang="' + lang + '" value="@Html.LocalizeString("btn_edit")" />');
                                btnEdit.click(fnEdit);
                                tdBtn.append(btnEdit);
                                tdFlag.append($("<img class='flag' style='margin:5px;margin-left: 0;margin-top: 0;' alt='flag' src='/public/img/flag/" + lang + ".png'/>"));


                                $.each(allLanguages, function (i, l) {
                                    if (l.id == lang) {
                                        tdFlag.append($('<span>' + l.text + '</span>'));
                                        translatedLanguages.push(l);
                                    }
                                });
                                tdTranslation.html(translation);


                                tr.append(tdBtn);
                                tr.append(tdFlag);
                                tr.append(tdTranslation);


                                $('table tbody').append(tr);


                                var trCount = $('table tbody')[0].childElementCount;


                                if (trCount < "@ConstHelper.MaxLanguageCount") {
                                    $("input.btnNewTranslate").show();
                                }


                                $("div#dvForm").html('');
                                $("#hdForm").html('');

                            } else {
                                //todo:warning
                            }
                        }
                    });
                });


                var inputLanguages = $('<select id="selLanguages" name="selLanguages" />');
                $.each(allLanguages, function (i, lang) {


                    var isExisting = false;
                    $.each(translatedLanguages, function (j, l) {
                        if (lang.id === l.id) {
                            isExisting = true;
                            return;
                        }
                    });


                    if (!isExisting) {
                        inputLanguages.append('<option value="' + lang.id + '">' + lang.text + '</opiton>');
                    }
                });


                var inputTranslation = $('<input type="text" id="txtTranslation" name="txtTranslation" class="form-control col-4" />');


                var dv1 = $('<div style="margin:5px;float:left;" />');
                var dv2 = $('<div style="margin:5px;float:left;" />');
                var dv3 = $('<div style="margin:5px;float:left;" />');
                var dv4 = $('<div style="margin:5px;float:left;" />');


                dv1.append(inputLanguages);
                dv2.append(inputTranslation);
                dv3.append(btnSave);
                dv4.append(btnCancel);


                $("h3#hdForm").html('@Html.LocalizeString("title_new_translation")');
                $("div#dvForm").append(dv1).append(dv2).append('<br style="display:block;clear:both;"/>').append(dv3).append(dv4);
            }


            function prepareEditRow(btn) {
                var lang = btn.data("lang");
                var td = btn.parent().parent().children(":last");


                var inputTranslation = $('<input type="text" id="txtEdit" name="txtEdit" class="form-control col-4" data-lang="' + lang + '" />');
                inputTranslation.val(td.html());


                td.html("");
                td.append(inputTranslation);
            }


            function prepareDataShowingRow(btn) {
                var lang = btn.data("lang");
                var translations = $("input#txtEdit");


                btn.parent().children(":last-child").remove();


                var translation = "";
                $.each(translations, function (i, txt) {
                    if ($(txt).data("lang") == lang) {
                        translation = $(txt).val();


                        if (translation == "") {
                            $(txt).parent().parent().remove();
                        }


                        return;
                    }
                });


                var td = btn.parent().parent().children(":last");


                $.ajax({
                    url: "/Word/Translate",
                    type: "POST",
                    data: "id=@Model.Id&language=" + lang + "&translation=" + translation + "&__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val(),
                    success: function (r) {
                        if (r && r.IsOk) {
                            td.html(translation);
                        } else {
                            //todo:warning
                        }
                    }
                });
            }


            $("input.btnNewTranslate").click(function () {
                $(this).hide();


                addNewTranslationRow();


                function format(state) {
                    if (!state.id) return state.text;
                    return "<img class='flag' alt='flag' style='margin:5px;' src='/public/img/flag/" + state.id.toLowerCase() + ".png'/>" + state.text;
                }


                $("select#selLanguages").select2({ formatResult: format, formatSelection: format, escapeMarkup: function (m) { return m; } });
            });


            var fnEdit = function () {
                var td = $(this).parent().parent().children(":last");
                var oldText = td.html();


                if ($(this).hasClass("btn-warning")) {
                    $(this).removeClass("btn-warning").addClass("btn-success");
                    $(this).val("@Html.Raw(Html.LocalizeString("btn_save"))");


                    var btnCancel = $('<input type="button" style ="margin-left:5px" />').addClass('btn btn-sm btn-danger');
                    btnCancel.val('@Html.Raw(Html.LocalizeString("btn_cancel"))');


                    $(this).parent().append(btnCancel);
                    prepareEditRow($(this));


                    btnCancel.click(function (r) {
                        var btn = $(this).parent().children(":first");
                        $(btn).removeClass("btn-success").addClass("btn-warning");
                        $(btn).val("@Html.Raw(Html.LocalizeString("btn_edit"))");


                        $(this).remove();


                        var lastTd = $("input#txtEdit").parent();
                        $(lastTd).html(oldText);


                    });
                } else if ($(this).hasClass("btn-success")) {
                    $(this).removeClass("btn-success").addClass("btn-warning");
                    $(this).val("@Html.Raw(Html.LocalizeString("btn_edit"))");


                    prepareDataShowingRow($(this));
                }
            };


            $("input.btnEdit").click(fnEdit);

        });
    </script>
}
