@using SetLocale.Client.Web.Helpers
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>@ViewBag.Title - @ViewBag.Txt["app_name"]</title>

    <link rel="shortcut icon" href="/public/img/favicon.ico" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/public/css/app.css?v=1" />
</head>
<body>



    <div id="main" class="container">



        <div class="row">
            <div class="navbar navbar-default">


                <ul class="nav navbar-nav">

                    <li><a href="/">@ViewBag.Txt["app_name"]</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewBag.Txt["Words"]<b class="caret"></b></a>
                        <ul class="dropdown-menu">


                            <li><a href="/key/my">@ViewBag.Txt["MyWords"]</a></li>
                            <li class="divider"></li>

                            <li><a href="/key">@ViewBag.Txt["Words"]</a></li>
                            <li><a href="/key/nottranslated">@ViewBag.Txt["NotTranslated"]</a></li>
                            <li class="divider"></li>

                            <li><a href="/key/new">@ViewBag.Txt["NewWord"]</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewBag.Txt["Apps"] <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/apps">@ViewBag.Txt["Apps"]</a></li>
                            <li><a href="/app/new">@ViewBag.Txt["NewApp"]</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewBag.Txt["Settings"] <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/users">@ViewBag.Txt["Users"]</a></li>
                            <li><a href="/admin/apps">@ViewBag.Txt["Apps"]</a></li>
                            <li class="divider"></li>

                            <li><a href="/admin/newtranslator">@ViewBag.Txt["NewTranslator"]</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Current User Name <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/login">@ViewBag.Txt["Login"]</a></li>
                            <li><a href="/user/logout">@ViewBag.Txt["Logout"]</a></li>
                            <li><a href="/user/new">@ViewBag.Txt["SignUp"]</a></li>
                            <li><a href="/user/reset">@ViewBag.Txt["ResetTitle"]</a></li>
                        </ul>
                    </li>

                    <li style="margin-left: -10px; margin-top: -5px;"><a href="/lang/change/tr"><img src="/Public/img/tr.png" alt="Türkçe" /></a></li>
                    <li style="margin-left: -20px; margin-top: -5px;"><a href="/lang/change/en"><img src="/Public/img/en.png" alt="English" /></a></li>
                </ul>

                <form class="navbar-form navbar-right">
                    <input id="search" type="text" class="form-control col-lg-8" placeholder="@ViewBag.Txt["Search"]">
                </form>

            </div>
        </div>
        


        <div class="row">
            @RenderBody()
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    @RenderSection("script", false)
</body>
</html>
