@model List<SetLocale.Client.Web.Models.AppModel>

@{
    ViewBag.Title = ViewBag.Txt["Apps"];
}

<h3>@ViewBag.Title</h3>
<hr />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>@ViewBag.Txt["Email"]</th>
                <th>@ViewBag.Txt["AppName"]</th>
                <th>@ViewBag.Txt["Description"]</th>
                <th>@ViewBag.Txt["Url"]</th>
                <th>@ViewBag.Txt["UsageCount"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var val = item.IsActive ? ViewBag.Txt["Deactivate"] : ViewBag.Txt["Activate"];
                <tr>
                    <td>
                         <a type="button" class="btn btn-sm btn-warning btnAction" data-toggle="modal" href="#DeactivateModal" data-id="@item.Id" data-isactive="@item.IsActive">@val</a>
                    </td>
                    <td>@item.UserEmail</td>
                    <td>@item.AppName</td>
                    <td>@item.AppDescription</td>
                    <td>@item.Url</td>
                    <td>@item.UsageCount</td>
                </tr>
            }

        </tbody>
    </table>
        @Html.AntiForgeryToken()
</div>
<div class="modal fade" id="DeactivateModal" tabindex="-1" role="dialog" aria-labelledby="lblDeactivateModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@ViewBag.Txt["ModalTitleApps"]</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Txt["ModalBodyUsers"]
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="@ViewBag.Txt["Cancel"]" />
                <input type="button" class="btn btn-primary" value="@ViewBag.Txt["Ok"]" id="btnDeactivate" data-id="" data-isactive="" />
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(function () {
            var textActivate = "@ViewBag.Txt["Activate"]";
            var textDeactivate = "@ViewBag.Txt["Deactivate"]";

            $("a.btnAction").click(function () {
                var id = $(this).data("id");
                var isActive = $(this).data("isactive");

                $("input#btnDeactivate").data("id", id)
                                        .data("isactive", isActive);
            });

            $("input#btnDeactivate").click(function () {
                var id = $(this).data("id");
                var isActive = $(this).data("isactive");
                console.log(id);
                console.log(isActive);
                $.ajax({
                    url: "/Ajax/ChangeAppStatus",
                    type: "POST",
                    data: "id=" + id + "&isActive=" + isActive + "&__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val()
                }).done(function (r) {
                    if (r && r.Ok) {

                        if (isActive) {
                            $("a[data-id='" + id + "']").removeClass("btn-warning").addClass("btn-success").data("isactive", false).html(textActivate);
                        }
                        else {
                            $("a[data-id='" + id + "']").removeClass("btn-success").addClass("btn-warning").data("isactive", true).html(textDeactivate);
                        }

                        $("#DeactivateModal").modal('hide');

                    } else {
                        //warning
                    }
                });
            });
        });
    </script>
}