@model ExcelImportModel
@{
    ViewBag.Title = @Html.LocalizationString("import_excel_title");
}
<div class="col-lg-12">
    <h3>@ViewBag.Title</h3>
    @if (!string.IsNullOrEmpty(@Model.Msg))
    {
        var buttonCss = Model.MsgId ? "alert-success" : "alert-warning";
        <div class="alert @buttonCss col-lg-12" id="dvAlert" style="text-align: center" data-dismiss="alert">
            @Model.Msg
        </div>
    }

    <form action="/Admin/Import" enctype="multipart/form-data" method="post">
        <div class="col-lg-6">
            <a class="btnright" href="/public/files/set-locale-upload-sample.xlsx">@Html.LocalizationString("sample_excel")</a>

            <span>@Html.LocalizationString("explanation_excel_file")</span>
        </div>
        <div class="clearfix">
            <br />
            <br />
        </div>
        <div class="col-lg-6">
            <span>@Html.LocalizationString("excel_file")</span>
            <input id="file" name="file" class="form-control" type="file" />
        </div>
        <div class="clearfix">
            <br />
        </div>
        <div class="col-lg-6">
            <br />
            <input type="checkbox" name="IsOverWrite" id="IsOverWrite" checked="checked" value="true">@Html.LocalizationString("overwrite_existing_data")
            <input name="IsOverWrite" id="IsOverWrite" type="hidden" value="false">
        </div>
        <div class="clearfix">
            <br />
            <br />
        </div>
        <div class="col-lg-6">
            <br />
            <button class="btn btn-sm btn-primary" type="submit" id="btn_upload" name="btn_upload">@Html.LocalizationString("btn_upload")</button>
        </div>
    </form>
</div>
@section script
{
    <script>
        $(document).ready(function () {
            $("#dvAlert").delay(200).fadeIn().delay(3000).fadeOut();
        });
    </script>
}
