@{
    ViewBag.Title = @Html.LocalizationString("import_excel_title");

}
<div class="col-lg-12">
    <h3>@ViewBag.Title</h3>
    
    <div class="col-lg-12">
        @Model.Msg
    </div>

    <form action="/Admin/Importexcel" enctype="multipart/form-data" method="post">
        <div class="col-lg-6">
            <a class="btnright" href="/public/files/set-locale-upload-sample.xlsx">@Html.LocalizationString("sample_excel")</a>

            <span>@Html.LocalizationString("explanation_excel_file")</span>
        </div>
        <div class="clearfix">
            <br/>
            <br />
        </div>
        <div class="col-lg-6">
            <span>@Html.LocalizationString("excel_file")</span>
            <input id="import_excel" name="import_excel" class="form-control" type="file" />
        </div>
        <div class="clearfix">
            <br/>
        </div>
        <div class="col-lg-6">
            <br />
            <input type="checkbox" name="IsOverWrite" id="IsOverWrite" checked="checked" value="true">@Html.LocalizationString("overwrite_existing_data")
            <input name="IsOverWrite" id="IsOverWrite" type="hidden" value="false">
        </div>
        <div class="clearfix">
            <br/>
            <br />
        </div>
        <div class="col-lg-6">
            <br />
            <button class="btn btn-sm btn-primary" type="submit" id="btn_upload" name="btn_upload">@Html.LocalizationString("btn_upload")</button>
        </div>
    </form>
</div>
