@model List<SetLocale.Client.Web.Models.UserModel>

@{
    ViewBag.Title = ViewBag.Txt["Users"];
}

<h3>@ViewBag.Title</h3>
<hr />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>@ViewBag.Txt["Name"]</th>
                <th>@ViewBag.Txt["Email"]</th>
                <th>@ViewBag.Txt["Role"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var val = item.IsActive ? ViewBag.Txt["Deactivate"] : ViewBag.Txt["Activate"];
                <tr>
                    <td>
                       <a type="button" class="btn btn-sm btn-warning btnAction" data-toggle="modal" href="#DeactivateModal" value="@val" data-id="@item.Id" data-isactive="@item.IsActive" ></a>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Role</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div class="modal fade" id="DeactivateModal" tabindex="-1" role="dialog" aria-labelledby="lblDeactivateModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@ViewBag.Txt["ModalTitleUsers"]</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Txt["ModalBodyUsers"]
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="@ViewBag.Txt["Cancel"]" />
                <input type="button" class="btn btn-primary" value="@ViewBag.Txt["Ok"]" id="btnDeactivate" data-id="" />
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(function () {
            $("a.btnAction").click(function () {
                var id = $(this).data("id");
                var isActive = $(this).data("isactive");
                $("input#btnDeactivate").data("value", id);
                console.log(id);
                console.log(isActive);

            });
            $("input#btnDeactivate").click(function () {

                var id = $(this).data("id");


                $.ajax({
                    url: "/ajax/deactivateusers",
                    type: "POST",
                    data: "id=" + id + "&__RequestVerificationToken=" + $('input[name="__RequestVerificationToken"]').val(),
                }).done(function (r) {


                    if (r && r.Ok) {

                        console.log($("a[id='" + id + "']"));
                        if ($("a.btnAction").isActive = true) {
                            $("a[data-id='" + id + "']");
                        }
                        else {
                            $("a.btnAction").isActive = true;
                        }
                        
                        $("#DeactivateModal").modal('hide');

                    } else {
                        //warning
                    }
                });
            });
        });
    </script>
}